body{
    background: #DDE9EE;
    margin: 0px;
}

.wrapper{
    max-width: 1100px;
    margin: auto;
}

.container{
    display: flex;
}

.tests_and_polls{
    box-sizing: border-box;

    width: 170px;
    height: 50px;
    margin-top: 118px;

    border: 2px solid #42445A;
    border-radius: 14px;
    display: flex;
}

.tests{
    box-sizing: border-box;

    width: 85px;
    height: 50px;
    margin-left: -3px;
    margin-top: -2px;

    background: #DDEAEE;
    border: 4px solid #42445A;
    border-radius: 14px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #42445A;

}
.polls{
    width: 85px;
    height: 21px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;

    color: #42445A;

}

.search_container{
    box-sizing: border-box;

    width: 480px;
    height: 50px;
    margin-left: 20px;
    margin-top: 118px;
}

.search{
    box-sizing: border-box;
    width: 480px;
    height: 50px;
    background: #DDE9EE;
    border: 2px solid #42445A;
    border-radius: 14px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search_image{
    width: 26px;
    height: 26px;
    margin-right: 12px;
}

.answer_types{
    box-sizing: border-box;

    width: 340px;
    height: 50px;
    margin-left: 20px;
    margin-top: 118px;

    border: 2px solid #42445A;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #42445A;

}

.answer_type_selected{
    box-sizing: border-box;

    width: 85px;
    height: 50px;

    background: #DDEAEE;
    border: 4px solid #42445A;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
}

.answer_type{
    margin-left: 10px;
}

.plus_container{
    box-sizing: border-box;

    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 118px;
}

.plus{
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    background: #DDEAEE;
    border: 2px solid #42445A;
    border-radius: 14px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 46px;

    color: #42445A;
}

.answer_container{
    box-sizing: border-box;

    width: 1100px;
    height: 100px;
    margin-top: 30px;
    display: flex;
}

.answer{
    box-sizing: border-box;

    width: 1100px;
    height: 100px;

    background: #DDEAEE;
    border: 3px solid #42445A;
    border-radius: 14px;
}

.answer_info{
    width: 550px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.name{
    width: 201px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    
    color: #42445A;
}

.code{
    width: 58px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;

    color: #42445A;

}

.date{
    width: 104px;
    width: 58px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;

    color: #42445A;
}

.settings{
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.delete{
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
}

.columns{
    box-sizing: border-box;

    width: 550px;
    height: 100px;
    margin-left: 550px;
    margin-top: -103px;

    background: #DDEAEE;
    border: 3px solid #42445A;
    border-radius: 14px;
}

.plus_box{
    box-sizing: border-box;

    width: 100px;
    height: 100px;

    background: #DDEAEE;
    border: 4px solid #42445A;
    border-radius: 14px;
    margin-left: -3px;
    margin-top: -3px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 60px;

    color: #42445A;
}